<div class="jumbotron">
	<center>
		<h1>Welcome to my Pizza Shack!</h1>
		<img src="https://197c2b2de2695f3fc516-9d1369894b0466c92e9c5ccf435da7e6.ssl.cf3.rackcdn.com/2053/img/gallery/2015-05-19_pizza.jpg" alt="">
		<%= link_to 'Check out our Pizzas!', pizzas_path, class: "btn btn-default" %>
	</center>
</div>
